/* Note editing modal */

div.editNote {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loadModalBackground 0.3s;
}

@keyframes loadModalBackground {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

div.modal {
    width: 90%;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    /* background-color: white; */
    background-color: #ffd9b3;
    padding: 20px;
    animation: loadModal 0.1s;
}

@media screen and (min-width: 600px) {
    div.modal {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {
    div.modal {
        width: 60%
    }
}

@media screen and (min-width: 1200px) {
    div.modal {
        width: 40%;
    }
}

@keyframes loadModal {
    0% {
        display: none;
    }
    100% {
        display: block;
    }
}

div.modalHead {
    display: flex;
    justify-content: space-between;
}

div.modalHead input[type=text] {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #ffd9b3;
    border: none;
    max-width: 75%;
}

div.modal button {
    background-color: #ffd9b3;
    border: none;
    border-radius: 50%;
}

div.modal button:hover {
    background-color: #ffbf80;
    cursor: pointer;
}

div.modal button i {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-weight: bold; */
}

div.modalHead button i {
    font-size: 2rem;
}

div.modalBody textarea {
    resize: none;
    width: 100%;
    display: block;
    margin: 0px 0px 15px;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    font-family: 'Open Sans', serif;
    background-color: #ffd9b3;
}

div.modalBottom {
    display: flex;
    justify-content: space-between;
}

div.modalBottom button.submit {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 0px;
}

div.modalBottom button.delete {
    width: 44px;
    padding: auto;
}

div.modalBottom button i {
    font-size: 1.25rem;
}