/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px var(--x-padding);
    background-color: #6b00b3;
}

header h1 {
    font-size: 2rem;
    margin: 0px;
    color: white;
}

button.newNote {
    background-color: #f3e6ff;
    font-family: var(--heading-font);
    border: 0px;
    padding: 10px 15px;
    font-weight: 500;
    border-radius: 3px;
    transition: background-color 0.1s;
}

button:hover {
    background-color: #ce99ff;
}

button:active {
    background-color: #a64dff;
}