/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4vw;
    background-color: #6b00b3;
}

h1 {
    font-size: 1.5rem;
    margin: 0px;
    color: white;
}

button {
    background-color: #f3e6ff;
    font-family: var(--heading-font);
    border: 0px;
    padding: 10px;
    font-weight: 500;
}

button:hover {
    background-color: #ce99ff;
}

button:active {
    background-color: #a64dff;
}