div.noteBody {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    /* justify-content: space-around; */
    padding: 2vw var(--x-padding);
    gap: 2vw var(--x-padding);
}

@media screen and (min-width: 600px) {
    div.noteBody {
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 768px) {
    div.noteBody {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 992px) {
    div.noteBody {
        grid-template-columns: auto auto auto auto;
    }
}

@media screen and (min-width: 1200px) {
    div.noteBody {
        grid-template-columns: auto auto auto auto auto;
    }
}

div.newNote {
    font-size: 1.25rem;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF8C1A;
    color: white;
    border: 1px solid #FF8C1A;
    transition: 0.2s background-color, 0.2s color;
    position: fixed;
    bottom: var(--x-padding);
    right: var(--x-padding);
}
/* 
div.newNote a {
    color: white;
    transition: ;
} */

div.newNote:hover {
    background-color: #ffd9b3;
    border: 1px solid #FF8C1A;
    cursor: pointer;
    color: #FF8C1A;
}